body {
  height: 100%;
}

/* Position and sizing of burger button */

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: transparent;
}

/* Color/shape of burger icon bars on hover*/
.bm-burger-bars-hover {
  background: transparent;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7;
}

/*
  Sidebar wrapper styles
  Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
  */
.bm-menu-wrap {
  right: inherit;
  z-index: 1100;
  width: 300px;
  height: 100%;
  transition: all 0.5s ease 0s;
}
.bm-burger-button .buttonclass {
  top: 0px;
  position: relative;
  width: 10%;
  max-width: 10%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  border: none;
  font-size: 0px;
  background: transparent;
}
/* General sidebar styles */
.bm-menu {
  background: linear-gradient(
    0deg,
    rgba(154, 61, 107, 1) 0%,
    rgba(195, 85, 69, 1) 100%
  );
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
  width: 100%;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
  padding: 0.8em;
}

/* Individual item */
.bm-item {
  display: inline-block;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}

.parentDiv {
  height: 100%;
  // padding-bottom: 56.25%; /* 16:9 */
  position: relative;
  margin-right: 5%;
  margin-left: 5%;
  min-height: 10px;
}
.childDiv {
  position: absolute;
  top: 0;
  left: 0;
  width: 90%;
  height: 100%;
  min-height: 10px;
}

.backgroundCustom {
  background: linear-gradient(
    90deg,
    rgba(99, 0, 60, 1) 0%,
    rgba(151, 40, 67, 1) 59%
  );
}

.slider {
  height: 84vh !important;
}
