.e-schedule .e-month-view .e-appointment {
  background: none;
  border: none;
  border-radius: 3%;
}
.e-more-popup-wrapper .e-appointment {
  background: none;
}
.e-schedule .e-vertical-view .e-day-wrapper .e-appointment .e-up-icon {
  display: none;
}

.e-recurrenceeditor,
.e-time-zone-container,
.e-all-day-container {
  display: none;
}

.e-schedule .e-appointment-details {
  padding: 0 !important;
  height: 80%;
}

.e-schedule .e-vertical-view .e-day-wrapper .e-appointment {
  border-radius: 11px 11px 11px 11px;
  border: none;
  background: white;
  border: solid black;
  width: 97% !important;
}

.CM {
  color: black;
  white-space: break-spaces;
}

.TD {
  color: black;
  white-space: break-spaces;
}
.TP {
  color: black;
  white-space: break-spaces;
}
.Examen {
  color: black;
  white-space: break-spaces;
}
.Autres {
  color: black;
  white-space: break-spaces;
}

.e-quick-popup-wrapper .e-event-popup .e-popup-header,
.e-popup.e-popup-open {
  border-radius: 10px;
}

.CM .header-Calendar {
  padding: 7px;
  background-color: #b2a9f9;
  border-radius: 11px 11px 0px 0px;
}

.TP .header-Calendar {
  padding: 7px;
  background-color: #c5fcb1;
  border-radius: 11px 11px 0px 0px;
}

.TD .header-Calendar {
  padding: 7px;
  background-color: #fafcae;
  border-radius: 11px 11px 0px 0px;
}

.Examen .header-Calendar {
  padding: 7px;
  background-color: #0ed145;
  border-radius: 11px 11px 0px 0px;
}

.Autres .header-Calendar {
  padding: 7px;
  background-color: #f1c82b;
  border-radius: 11px 11px 0px 0px;
}

.body-Calendar {
  background: white;
  border-top: solid;
}

.card-columns {
  column-count: 1 !important;
}

.centerSelect {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
}
