@media (min-width: 576px) {
  .card-columns.cols-2 {
    -webkit-column-count: 2;
    column-count: 2;
  }
}
.centerSelect {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
}
